service vncflinger /system/bin/vncflinger -SecurityTypes=VncAuth -PasswordFile=/data/vnc/passwd
    class late_start
    disabled
    user system
    group system input inet readproc

on property:persist.vncflinger.enabled=true
    start vncflinger

on property:persist.vncflinger.enabled=false
    stop vncflinger
